#!/usr/bin/zsh
#export OPENAI_API_KEY="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"

export OPENAI_API_KEY="5611f5fdddc84c50a2c3b4706b277b14"
export OPENAI_BASE="https://aoaidemo2023.openai.azure.com/"
export OPENAI_TYPE="azure"
export OPENAI_VERSION="2022-06-01-preview"

